<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>goEventS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3C7611091E7F2A8800163AD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C76111D1E7F2A8900163AD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C7611281E7F2A8900163AD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
